<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ restaurant_name }}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

    {% block content %}{% endblock %}

    <!--Footer Section-->
    <footer class="restaurant-footer">
        <!--Display current year dynamically and restaurant name -->
        &copy; {% now "Y" %} {{restaurant_name}}. All Rights Reserved.
        <br> 
        Opening Hours: Mon-Fri: 11am - 9pm | Sat-Sun: 10am -10pm
    </footer>

</body>
</html>